2
yes
no
4
outlook 3
 sunny overcast rain
temperature 3
 cool mild hot
humidity 2
 normal high
wind 2
 weak strong
SPLIT humidity
 normal
SPLIT outlook
 sunny
SPLIT temperature
 cool
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 mild
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 hot
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 overcast
SPLIT temperature
 cool
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 mild
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 hot
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 rain
SPLIT temperature
 cool
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 mild
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 hot
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 high
SPLIT outlook
 sunny
SPLIT temperature
 cool
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 mild
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 hot
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 overcast
SPLIT temperature
 cool
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 mild
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 hot
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 rain
SPLIT temperature
 cool
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 mild
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
 hot
SPLIT wind
 weak
OUTCOME yes
 strong
OUTCOME yes
